/*** GERAL ***/
@font-face {
    font-family: BluuNext;
    src: url(fonts/BluuNext-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: black url(img/bg2.jpeg) repeat center center;
    color: white;
    font-family: "sofia-pro", sans-serif;
}

a:hover{
    transition: color 2s;
}

h1, h2, h3, h4, h5, h6{
    font-family: BluuNext, serif;
}

#banner img{ width: 100%; }

/*** HEADER ***/
#header{
    background-image: linear-gradient(to bottom, #1C293A, transparent);
    border-top: 4px solid white;
    height: 250px;
    padding: 50px 0 0;
}
#header .logo{
    margin-bottom: 40px;
    text-align: center;
}
#header .logo a{ display: inline-block; }
#header .menu{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#header .menu a{
    color: white;
    text-decoration: none;
}
#header .menu a:hover{ color: #F2DA59; }
#header .menu .active{ color: #F2DA59; }

/*** FOOTER ***/
#footer{
    background-image: linear-gradient(to top, #1C293A, transparent);
    font-size: 16px;
    padding: 80px 0 40px;
}
#footer .wrapper{
    display: flex;
    justify-content: space-between;
}
#footer ul.links{
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;
}
#footer ul.links li{ line-height: 28px; }
#footer ul.links li ul{
    font-weight: 500;
    list-style: none;
    margin-left: 20px;
    text-transform: initial;
}
#footer ul.links a{ color: white; }
#footer ul.links a:hover{ color: #F2DA59; }



/*** HOMEPAGE ***/

#carrossel .carousel-item{
    background: black;
}
#carrossel .carousel-item img{
    opacity: 0.7;
    width: 100%;
}
#carrossel .carousel-item .carousel-caption{
    font-size: 28px;
    font-weight: 600;
    left: 40px;
    line-height: 36px;
    text-align: left;
}
#carrossel .carousel-item .carousel-caption a{
    color: white;
    text-decoration: none;
}
#carrossel .carousel-item .carousel-caption a:hover{ color: #F2DA59; }
#carrossel .carousel-item .carousel-caption strong{
    font-family: BluuNext, serif;
    font-size: 40px;
    font-weight: 900;
}
#carrossel .carousel-item .carousel-caption span{
    font-size: 20px;
    text-decoration: underline;
}

#inicio{
    padding: 60px 0;
    text-align: center;
}
#inicio h1{
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto 30px auto;
    max-width: 35rem;
}
#inicio img.seta{
    display: block;
    margin: 0 auto 30px auto;
}

/*  SETA  */

.container-arrow{
    position: relative;
    height: 60px;
    margin-bottom: 60px;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/*** MAPA ***/
#mapa{
    padding: 60px 0 40px;
    text-align: center;
}
#mapa h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 35px;
}
#mapa p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 50px;
}

#lista{ padding: 40px 0 60px; }
#lista h2{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}
#lista p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
#lista .wrapper{
    display: flex;
    justify-content: space-between;
}
#lista ul{
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}
#lista ul li a{ color: white; }
#lista ul li a:hover{ color: #F2DA59; }

#info{ padding: 20px 0 0; }
#info h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    text-decoration: underline;
}
#info strong{
    font-size: 32px;
    font-weight: 900;
}
#info span{
    font-size: 26px;
    font-weight: 600;
}
#info a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#info a:hover{ text-decoration: none; }
#info p{
    font-size: 20px;
    line-height: 28px;
    margin: 30px 0 60px;
}

#localizacao{ padding: 20px 0; }
#localizacao h2{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}
#localizacao .endereco{
    margin-top: 20px;
}
#localizacao .endereco p{
    font-size: 22px;
    line-height: 30px;
}
#localizacao .endereco a{
    color: white;
    font-size: 19px;
    text-transform: lowercase;
}
#localizacao .endereco a:hover{ text-decoration: none; }

#cena{ padding: 20px 0; }
#cena h3{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}
#cena img{
    margin-bottom: 20px;
    width: 100%;
}
#cena .detalhes{
    font-size: 20px;
    line-height: 36px;
}
#cena .detalhes a{
    color: white;
    font-size: 26px;
    font-weight: 700;
}
#cena .detalhes a:hover{ text-decoration: none; }

/*** PERSONAGENS ***/
#personagens{
    padding: 40px 0;
    text-align: center;
}
#personagens h2, #personagens h4{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}
#personagens .wrapper{
    display: flex;
    justify-content: space-between;
}
#personagens .item{
    /*text-align: center;*/
    width: 23%;
}
#personagens .item .boxImage{
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}
#personagens .item .personagemInfo p{
    margin-bottom: 2px;
    font-size: 17px;
}
#personagens .item .personagemInfo .personagemCasa{
    color: #F2DA59;
}
#personagens .item a{
    color: white;
    display: block;
}
#personagens .item img{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
#personagens .item span{
    font-size: 20px;
    font-weight: 600;
}
#personagens .item a:hover{
    color: #F2DA59;
    text-decoration: none;
}
#personagens .item a:hover img{ opacity: 0.8; }

#personagens.page{ text-align: left; }
#personagens.page h2{ font-size: 28px; text-align: left; }
#personagens.page .wrapper{ flex-wrap: wrap; }
#personagens.page .item{ margin-bottom: 30px;}

#intro{
    padding: 20px 0;
}
#intro h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}
#intro p{
    font-size: 20px;
    line-height: 28px;
}

#bio{ padding: 40px 0; }
#bio h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}
#bio p{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}

#locais{
    clear: both;
    padding: 20px 0;
}
#locais h2{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
}
#locais .item{
    clear: both;
    margin-bottom: 40px;
}
#locais .item .imagem{
    display: inline-block;
    margin-right: 2%;
    width: 30%;
}
#locais .item .imagem a{ display: block; }
#locais .item .imagem img{ width: 100%; }
#locais .item .detalhes{
    float: right;
    width: 68%;
}
#locais .item .detalhes p{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
#locais .item .detalhes strong{
    font-size: 26px;
    text-decoration: underline;
}
#locais .item .detalhes a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#locais .item .detalhes a:hover{
    color: #F2DA59;
    text-decoration: none;
}

/*** FILMES ***/
#intro.filme{ text-align: center; }

#filmes{
    padding: 20px 0;
}
#filmes .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#filmes .item{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    width: 30%;
}
#filmes .item .imagem{
    display: block;
    height: 450px;
    overflow: hidden;
    margin-bottom: 20px;
}
#filmes .item img{ width: 100%; }
#filmes .item a{ color: white; }
#filmes .item a:hover{
    color: #F2DA59;
    text-decoration: none;
}

#info.filme{ clear: both; }
#info.filme img{ float: left; width: 23%; }
#info.filme p{ float: right; margin: 0; width: 75%; }

/*** CONTATO ***/
#contato{
    padding: 40px 0 60px;
}
#contato h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
#contato p{
    font-size: 22px;
    margin-bottom: 40px;
}

#formcontato{
    font-family: "sofia-pro", sans-serif;
}
#formcontato input, #formcontato textarea{
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    box-shadow: transparent;
    color: white;
    font-family: "sofia-pro", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
#formcontato input{
    height: 30px;
    margin-right: 5%;
    width: 28%;
}
#formcontato textarea{
    width: 100%;
}
#formcontato input::placeholder, #formcontato textarea::placeholder{ color: white; }
#formcontato input[type=submit]{
    border: 1px solid white;
    cursor: pointer;
    height: auto;
    padding: 8px 30px;
    width: auto;
}

/*** BACKGROUND ANIMATION ***/

.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
    z-index: -1;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw white;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 14s, 8650ms;
    animation-delay: 0ms, 2911ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(-31vw) translateY(-33vh) scale(0.75);
    }
    4.1666666667% {
      transform: translateX(-26vw) translateY(-12vh) scale(0.76);
    }
    8.3333333333% {
      transform: translateX(-41vw) translateY(-22vh) scale(0.57);
    }
    12.5% {
      transform: translateX(20vw) translateY(-26vh) scale(0.77);
    }
    16.6666666667% {
      transform: translateX(33vw) translateY(-35vh) scale(0.71);
    }
    20.8333333333% {
      transform: translateX(39vw) translateY(39vh) scale(0.35);
    }
    25% {
      transform: translateX(35vw) translateY(13vh) scale(0.94);
    }
    29.1666666667% {
      transform: translateX(-1vw) translateY(-41vh) scale(0.79);
    }
    33.3333333333% {
      transform: translateX(4vw) translateY(46vh) scale(0.33);
    }
    37.5% {
      transform: translateX(35vw) translateY(-10vh) scale(0.99);
    }
    41.6666666667% {
      transform: translateX(11vw) translateY(-20vh) scale(0.74);
    }
    45.8333333333% {
      transform: translateX(11vw) translateY(-2vh) scale(0.61);
    }
    50% {
      transform: translateX(-45vw) translateY(40vh) scale(0.34);
    }
    54.1666666667% {
      transform: translateX(-43vw) translateY(5vh) scale(0.38);
    }
    58.3333333333% {
      transform: translateX(45vw) translateY(-25vh) scale(0.56);
    }
    62.5% {
      transform: translateX(-6vw) translateY(50vh) scale(0.87);
    }
    66.6666666667% {
      transform: translateX(23vw) translateY(-20vh) scale(0.36);
    }
    70.8333333333% {
      transform: translateX(25vw) translateY(-7vh) scale(0.79);
    }
    75% {
      transform: translateX(-40vw) translateY(-25vh) scale(0.27);
    }
    79.1666666667% {
      transform: translateX(-5vw) translateY(-41vh) scale(0.4);
    }
    83.3333333333% {
      transform: translateX(-3vw) translateY(-47vh) scale(0.69);
    }
    87.5% {
      transform: translateX(-3vw) translateY(10vh) scale(0.43);
    }
    91.6666666667% {
      transform: translateX(-31vw) translateY(29vh) scale(0.48);
    }
    95.8333333333% {
      transform: translateX(33vw) translateY(-25vh) scale(0.38);
    }
    100% {
      transform: translateX(11vw) translateY(17vh) scale(0.35);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 11s, 9356ms;
    animation-delay: 0ms, 3638ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(-46vw) translateY(34vh) scale(0.51);
    }
    5% {
      transform: translateX(45vw) translateY(-47vh) scale(0.49);
    }
    10% {
      transform: translateX(-27vw) translateY(27vh) scale(0.32);
    }
    15% {
      transform: translateX(-46vw) translateY(-16vh) scale(0.88);
    }
    20% {
      transform: translateX(2vw) translateY(42vh) scale(0.64);
    }
    25% {
      transform: translateX(7vw) translateY(-16vh) scale(0.55);
    }
    30% {
      transform: translateX(-38vw) translateY(34vh) scale(0.79);
    }
    35% {
      transform: translateX(-35vw) translateY(50vh) scale(0.34);
    }
    40% {
      transform: translateX(40vw) translateY(-34vh) scale(0.84);
    }
    45% {
      transform: translateX(-40vw) translateY(11vh) scale(0.39);
    }
    50% {
      transform: translateX(12vw) translateY(20vh) scale(0.61);
    }
    55% {
      transform: translateX(-48vw) translateY(25vh) scale(0.79);
    }
    60% {
      transform: translateX(0vw) translateY(-41vh) scale(0.85);
    }
    65% {
      transform: translateX(17vw) translateY(-41vh) scale(0.72);
    }
    70% {
      transform: translateX(-26vw) translateY(-32vh) scale(0.62);
    }
    75% {
      transform: translateX(-3vw) translateY(-46vh) scale(0.8);
    }
    80% {
      transform: translateX(-8vw) translateY(-20vh) scale(0.41);
    }
    85% {
      transform: translateX(-32vw) translateY(-10vh) scale(0.72);
    }
    90% {
      transform: translateX(7vw) translateY(37vh) scale(0.35);
    }
    95% {
      transform: translateX(-34vw) translateY(-26vh) scale(0.26);
    }
    100% {
      transform: translateX(31vw) translateY(9vh) scale(0.39);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 15s, 5061ms;
    animation-delay: 0ms, 7449ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(-16vw) translateY(15vh) scale(0.43);
    }
    4% {
      transform: translateX(7vw) translateY(21vh) scale(0.51);
    }
    8% {
      transform: translateX(34vw) translateY(-45vh) scale(0.65);
    }
    12% {
      transform: translateX(-44vw) translateY(-16vh) scale(0.85);
    }
    16% {
      transform: translateX(24vw) translateY(10vh) scale(0.33);
    }
    20% {
      transform: translateX(-25vw) translateY(25vh) scale(0.56);
    }
    24% {
      transform: translateX(-2vw) translateY(-21vh) scale(0.27);
    }
    28% {
      transform: translateX(50vw) translateY(14vh) scale(0.89);
    }
    32% {
      transform: translateX(14vw) translateY(12vh) scale(0.84);
    }
    36% {
      transform: translateX(2vw) translateY(24vh) scale(0.3);
    }
    40% {
      transform: translateX(15vw) translateY(-11vh) scale(0.3);
    }
    44% {
      transform: translateX(-6vw) translateY(-38vh) scale(0.5);
    }
    48% {
      transform: translateX(-29vw) translateY(-20vh) scale(0.72);
    }
    52% {
      transform: translateX(-48vw) translateY(47vh) scale(0.93);
    }
    56% {
      transform: translateX(10vw) translateY(-11vh) scale(0.42);
    }
    60% {
      transform: translateX(-13vw) translateY(-40vh) scale(0.85);
    }
    64% {
      transform: translateX(-49vw) translateY(44vh) scale(0.93);
    }
    68% {
      transform: translateX(-45vw) translateY(45vh) scale(0.34);
    }
    72% {
      transform: translateX(28vw) translateY(41vh) scale(0.31);
    }
    76% {
      transform: translateX(7vw) translateY(2vh) scale(0.67);
    }
    80% {
      transform: translateX(10vw) translateY(-33vh) scale(0.6);
    }
    84% {
      transform: translateX(-38vw) translateY(3vh) scale(0.61);
    }
    88% {
      transform: translateX(48vw) translateY(-49vh) scale(0.66);
    }
    92% {
      transform: translateX(-21vw) translateY(-4vh) scale(0.81);
    }
    96% {
      transform: translateX(0vw) translateY(-22vh) scale(0.26);
    }
    100% {
      transform: translateX(-39vw) translateY(-7vh) scale(0.93);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 15s, 9542ms;
    animation-delay: 0ms, 1712ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(-49vw) translateY(-42vh) scale(0.58);
    }
    3.5714285714% {
      transform: translateX(41vw) translateY(46vh) scale(0.28);
    }
    7.1428571429% {
      transform: translateX(15vw) translateY(42vh) scale(0.8);
    }
    10.7142857143% {
      transform: translateX(-41vw) translateY(-41vh) scale(0.67);
    }
    14.2857142857% {
      transform: translateX(25vw) translateY(-6vh) scale(0.72);
    }
    17.8571428571% {
      transform: translateX(21vw) translateY(-20vh) scale(0.92);
    }
    21.4285714286% {
      transform: translateX(-18vw) translateY(-26vh) scale(0.8);
    }
    25% {
      transform: translateX(-8vw) translateY(-29vh) scale(0.7);
    }
    28.5714285714% {
      transform: translateX(1vw) translateY(-47vh) scale(0.71);
    }
    32.1428571429% {
      transform: translateX(-19vw) translateY(3vh) scale(0.77);
    }
    35.7142857143% {
      transform: translateX(1vw) translateY(2vh) scale(0.48);
    }
    39.2857142857% {
      transform: translateX(25vw) translateY(4vh) scale(0.93);
    }
    42.8571428571% {
      transform: translateX(-29vw) translateY(48vh) scale(0.99);
    }
    46.4285714286% {
      transform: translateX(-34vw) translateY(-2vh) scale(0.86);
    }
    50% {
      transform: translateX(32vw) translateY(35vh) scale(0.41);
    }
    53.5714285714% {
      transform: translateX(15vw) translateY(44vh) scale(0.93);
    }
    57.1428571429% {
      transform: translateX(0vw) translateY(-32vh) scale(0.32);
    }
    60.7142857143% {
      transform: translateX(-36vw) translateY(30vh) scale(0.28);
    }
    64.2857142857% {
      transform: translateX(6vw) translateY(-44vh) scale(0.98);
    }
    67.8571428571% {
      transform: translateX(46vw) translateY(37vh) scale(0.68);
    }
    71.4285714286% {
      transform: translateX(29vw) translateY(-42vh) scale(0.41);
    }
    75% {
      transform: translateX(38vw) translateY(37vh) scale(0.42);
    }
    78.5714285714% {
      transform: translateX(28vw) translateY(16vh) scale(0.3);
    }
    82.1428571429% {
      transform: translateX(1vw) translateY(13vh) scale(0.61);
    }
    85.7142857143% {
      transform: translateX(26vw) translateY(-47vh) scale(0.48);
    }
    89.2857142857% {
      transform: translateX(-24vw) translateY(-26vh) scale(0.38);
    }
    92.8571428571% {
      transform: translateX(1vw) translateY(22vh) scale(0.79);
    }
    96.4285714286% {
      transform: translateX(32vw) translateY(33vh) scale(0.94);
    }
    100% {
      transform: translateX(-45vw) translateY(0vh) scale(0.83);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 18s, 7726ms;
    animation-delay: 0ms, 3416ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(-43vw) translateY(-45vh) scale(0.38);
    }
    5.2631578947% {
      transform: translateX(32vw) translateY(48vh) scale(0.68);
    }
    10.5263157895% {
      transform: translateX(21vw) translateY(-19vh) scale(0.58);
    }
    15.7894736842% {
      transform: translateX(6vw) translateY(-42vh) scale(0.93);
    }
    21.0526315789% {
      transform: translateX(-16vw) translateY(10vh) scale(0.67);
    }
    26.3157894737% {
      transform: translateX(-4vw) translateY(-26vh) scale(0.51);
    }
    31.5789473684% {
      transform: translateX(23vw) translateY(12vh) scale(0.92);
    }
    36.8421052632% {
      transform: translateX(-12vw) translateY(27vh) scale(0.61);
    }
    42.1052631579% {
      transform: translateX(-40vw) translateY(32vh) scale(0.81);
    }
    47.3684210526% {
      transform: translateX(4vw) translateY(35vh) scale(0.35);
    }
    52.6315789474% {
      transform: translateX(-11vw) translateY(39vh) scale(0.85);
    }
    57.8947368421% {
      transform: translateX(-10vw) translateY(27vh) scale(0.68);
    }
    63.1578947368% {
      transform: translateX(47vw) translateY(21vh) scale(0.36);
    }
    68.4210526316% {
      transform: translateX(-26vw) translateY(-8vh) scale(0.68);
    }
    73.6842105263% {
      transform: translateX(2vw) translateY(21vh) scale(0.55);
    }
    78.9473684211% {
      transform: translateX(-22vw) translateY(-20vh) scale(0.62);
    }
    84.2105263158% {
      transform: translateX(18vw) translateY(-21vh) scale(0.76);
    }
    89.4736842105% {
      transform: translateX(-25vw) translateY(-18vh) scale(0.45);
    }
    94.7368421053% {
      transform: translateX(-14vw) translateY(-38vh) scale(0.29);
    }
    100% {
      transform: translateX(10vw) translateY(-40vh) scale(0.63);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 9s, 7038ms;
    animation-delay: 0ms, 6507ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(-27vw) translateY(-48vh) scale(0.79);
    }
    4% {
      transform: translateX(-11vw) translateY(-29vh) scale(0.81);
    }
    8% {
      transform: translateX(30vw) translateY(4vh) scale(0.73);
    }
    12% {
      transform: translateX(-10vw) translateY(25vh) scale(0.59);
    }
    16% {
      transform: translateX(47vw) translateY(47vh) scale(0.35);
    }
    20% {
      transform: translateX(5vw) translateY(22vh) scale(0.91);
    }
    24% {
      transform: translateX(-36vw) translateY(2vh) scale(0.27);
    }
    28% {
      transform: translateX(2vw) translateY(-11vh) scale(0.71);
    }
    32% {
      transform: translateX(13vw) translateY(4vh) scale(0.39);
    }
    36% {
      transform: translateX(22vw) translateY(-17vh) scale(0.72);
    }
    40% {
      transform: translateX(0vw) translateY(39vh) scale(0.71);
    }
    44% {
      transform: translateX(37vw) translateY(16vh) scale(0.85);
    }
    48% {
      transform: translateX(49vw) translateY(37vh) scale(0.67);
    }
    52% {
      transform: translateX(-31vw) translateY(-46vh) scale(0.88);
    }
    56% {
      transform: translateX(-49vw) translateY(25vh) scale(0.34);
    }
    60% {
      transform: translateX(-48vw) translateY(-20vh) scale(0.29);
    }
    64% {
      transform: translateX(7vw) translateY(-12vh) scale(0.37);
    }
    68% {
      transform: translateX(-48vw) translateY(33vh) scale(0.32);
    }
    72% {
      transform: translateX(-11vw) translateY(42vh) scale(0.79);
    }
    76% {
      transform: translateX(-27vw) translateY(-4vh) scale(0.73);
    }
    80% {
      transform: translateX(-2vw) translateY(-12vh) scale(0.93);
    }
    84% {
      transform: translateX(33vw) translateY(-18vh) scale(0.77);
    }
    88% {
      transform: translateX(44vw) translateY(2vh) scale(0.57);
    }
    92% {
      transform: translateX(-22vw) translateY(-33vh) scale(0.97);
    }
    96% {
      transform: translateX(-17vw) translateY(5vh) scale(0.91);
    }
    100% {
      transform: translateX(-19vw) translateY(-35vh) scale(0.86);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 18s, 10664ms;
    animation-delay: 0ms, 7817ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(29vw) translateY(9vh) scale(0.77);
    }
    5.2631578947% {
      transform: translateX(-37vw) translateY(35vh) scale(0.54);
    }
    10.5263157895% {
      transform: translateX(12vw) translateY(0vh) scale(0.34);
    }
    15.7894736842% {
      transform: translateX(-32vw) translateY(-27vh) scale(0.97);
    }
    21.0526315789% {
      transform: translateX(-39vw) translateY(34vh) scale(0.91);
    }
    26.3157894737% {
      transform: translateX(-20vw) translateY(44vh) scale(0.32);
    }
    31.5789473684% {
      transform: translateX(36vw) translateY(-4vh) scale(0.3);
    }
    36.8421052632% {
      transform: translateX(24vw) translateY(0vh) scale(0.58);
    }
    42.1052631579% {
      transform: translateX(4vw) translateY(5vh) scale(0.85);
    }
    47.3684210526% {
      transform: translateX(35vw) translateY(31vh) scale(0.65);
    }
    52.6315789474% {
      transform: translateX(18vw) translateY(-20vh) scale(0.81);
    }
    57.8947368421% {
      transform: translateX(-27vw) translateY(-24vh) scale(0.38);
    }
    63.1578947368% {
      transform: translateX(-23vw) translateY(-20vh) scale(0.88);
    }
    68.4210526316% {
      transform: translateX(15vw) translateY(-34vh) scale(0.5);
    }
    73.6842105263% {
      transform: translateX(34vw) translateY(-44vh) scale(0.94);
    }
    78.9473684211% {
      transform: translateX(-23vw) translateY(39vh) scale(0.95);
    }
    84.2105263158% {
      transform: translateX(19vw) translateY(-30vh) scale(0.42);
    }
    89.4736842105% {
      transform: translateX(-6vw) translateY(-45vh) scale(0.47);
    }
    94.7368421053% {
      transform: translateX(-11vw) translateY(3vh) scale(0.39);
    }
    100% {
      transform: translateX(25vw) translateY(-23vh) scale(0.29);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 15s, 8722ms;
    animation-delay: 0ms, 1332ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-17vw) translateY(32vh) scale(0.48);
    }
    4% {
      transform: translateX(0vw) translateY(38vh) scale(0.57);
    }
    8% {
      transform: translateX(19vw) translateY(27vh) scale(0.68);
    }
    12% {
      transform: translateX(9vw) translateY(29vh) scale(0.8);
    }
    16% {
      transform: translateX(-7vw) translateY(34vh) scale(0.73);
    }
    20% {
      transform: translateX(44vw) translateY(-45vh) scale(0.38);
    }
    24% {
      transform: translateX(16vw) translateY(-35vh) scale(0.31);
    }
    28% {
      transform: translateX(32vw) translateY(5vh) scale(0.42);
    }
    32% {
      transform: translateX(-21vw) translateY(-9vh) scale(0.39);
    }
    36% {
      transform: translateX(48vw) translateY(-26vh) scale(0.83);
    }
    40% {
      transform: translateX(1vw) translateY(30vh) scale(0.93);
    }
    44% {
      transform: translateX(16vw) translateY(-4vh) scale(0.91);
    }
    48% {
      transform: translateX(-23vw) translateY(49vh) scale(0.44);
    }
    52% {
      transform: translateX(-10vw) translateY(39vh) scale(0.38);
    }
    56% {
      transform: translateX(-48vw) translateY(-9vh) scale(0.35);
    }
    60% {
      transform: translateX(15vw) translateY(16vh) scale(0.55);
    }
    64% {
      transform: translateX(0vw) translateY(-20vh) scale(0.36);
    }
    68% {
      transform: translateX(-17vw) translateY(41vh) scale(0.77);
    }
    72% {
      transform: translateX(-8vw) translateY(-42vh) scale(0.79);
    }
    76% {
      transform: translateX(5vw) translateY(19vh) scale(0.61);
    }
    80% {
      transform: translateX(-40vw) translateY(15vh) scale(0.4);
    }
    84% {
      transform: translateX(1vw) translateY(22vh) scale(0.27);
    }
    88% {
      transform: translateX(-6vw) translateY(-23vh) scale(0.27);
    }
    92% {
      transform: translateX(-6vw) translateY(-43vh) scale(0.53);
    }
    96% {
      transform: translateX(10vw) translateY(32vh) scale(0.46);
    }
    100% {
      transform: translateX(19vw) translateY(-34vh) scale(0.9);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 15s, 9275ms;
    animation-delay: 0ms, 1020ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(45vw) translateY(-14vh) scale(0.68);
    }
    3.7037037037% {
      transform: translateX(3vw) translateY(50vh) scale(0.87);
    }
    7.4074074074% {
      transform: translateX(35vw) translateY(50vh) scale(0.84);
    }
    11.1111111111% {
      transform: translateX(-4vw) translateY(6vh) scale(0.36);
    }
    14.8148148148% {
      transform: translateX(13vw) translateY(1vh) scale(0.84);
    }
    18.5185185185% {
      transform: translateX(-4vw) translateY(-43vh) scale(0.34);
    }
    22.2222222222% {
      transform: translateX(-28vw) translateY(-18vh) scale(0.31);
    }
    25.9259259259% {
      transform: translateX(-36vw) translateY(19vh) scale(0.94);
    }
    29.6296296296% {
      transform: translateX(-20vw) translateY(-37vh) scale(0.92);
    }
    33.3333333333% {
      transform: translateX(-35vw) translateY(-31vh) scale(0.65);
    }
    37.037037037% {
      transform: translateX(-7vw) translateY(-7vh) scale(0.82);
    }
    40.7407407407% {
      transform: translateX(-41vw) translateY(-6vh) scale(0.85);
    }
    44.4444444444% {
      transform: translateX(18vw) translateY(13vh) scale(0.92);
    }
    48.1481481481% {
      transform: translateX(14vw) translateY(22vh) scale(0.39);
    }
    51.8518518519% {
      transform: translateX(-45vw) translateY(18vh) scale(0.32);
    }
    55.5555555556% {
      transform: translateX(7vw) translateY(32vh) scale(0.63);
    }
    59.2592592593% {
      transform: translateX(-16vw) translateY(19vh) scale(0.74);
    }
    62.962962963% {
      transform: translateX(-7vw) translateY(24vh) scale(0.93);
    }
    66.6666666667% {
      transform: translateX(-34vw) translateY(-32vh) scale(0.72);
    }
    70.3703703704% {
      transform: translateX(44vw) translateY(-14vh) scale(0.67);
    }
    74.0740740741% {
      transform: translateX(-5vw) translateY(-10vh) scale(0.9);
    }
    77.7777777778% {
      transform: translateX(-29vw) translateY(45vh) scale(0.65);
    }
    81.4814814815% {
      transform: translateX(29vw) translateY(-27vh) scale(0.36);
    }
    85.1851851852% {
      transform: translateX(38vw) translateY(-13vh) scale(0.9);
    }
    88.8888888889% {
      transform: translateX(39vw) translateY(-3vh) scale(0.39);
    }
    92.5925925926% {
      transform: translateX(9vw) translateY(31vh) scale(0.51);
    }
    96.2962962963% {
      transform: translateX(-34vw) translateY(-15vh) scale(0.76);
    }
    100% {
      transform: translateX(-17vw) translateY(36vh) scale(0.75);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 12s, 7618ms;
    animation-delay: 0ms, 613ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(0vw) translateY(-17vh) scale(0.76);
    }
    3.7037037037% {
      transform: translateX(-7vw) translateY(-22vh) scale(0.39);
    }
    7.4074074074% {
      transform: translateX(34vw) translateY(8vh) scale(0.93);
    }
    11.1111111111% {
      transform: translateX(0vw) translateY(9vh) scale(0.77);
    }
    14.8148148148% {
      transform: translateX(34vw) translateY(49vh) scale(0.43);
    }
    18.5185185185% {
      transform: translateX(44vw) translateY(13vh) scale(0.73);
    }
    22.2222222222% {
      transform: translateX(-2vw) translateY(10vh) scale(1);
    }
    25.9259259259% {
      transform: translateX(37vw) translateY(0vh) scale(0.47);
    }
    29.6296296296% {
      transform: translateX(44vw) translateY(1vh) scale(0.45);
    }
    33.3333333333% {
      transform: translateX(-5vw) translateY(-13vh) scale(0.68);
    }
    37.037037037% {
      transform: translateX(19vw) translateY(-23vh) scale(0.34);
    }
    40.7407407407% {
      transform: translateX(47vw) translateY(-42vh) scale(0.49);
    }
    44.4444444444% {
      transform: translateX(47vw) translateY(28vh) scale(0.6);
    }
    48.1481481481% {
      transform: translateX(14vw) translateY(4vh) scale(0.58);
    }
    51.8518518519% {
      transform: translateX(42vw) translateY(43vh) scale(0.71);
    }
    55.5555555556% {
      transform: translateX(35vw) translateY(-40vh) scale(0.52);
    }
    59.2592592593% {
      transform: translateX(-5vw) translateY(-28vh) scale(0.75);
    }
    62.962962963% {
      transform: translateX(-6vw) translateY(-19vh) scale(0.68);
    }
    66.6666666667% {
      transform: translateX(47vw) translateY(-26vh) scale(0.54);
    }
    70.3703703704% {
      transform: translateX(-19vw) translateY(-44vh) scale(0.34);
    }
    74.0740740741% {
      transform: translateX(7vw) translateY(25vh) scale(0.3);
    }
    77.7777777778% {
      transform: translateX(-16vw) translateY(17vh) scale(0.98);
    }
    81.4814814815% {
      transform: translateX(14vw) translateY(5vh) scale(0.57);
    }
    85.1851851852% {
      transform: translateX(-9vw) translateY(-18vh) scale(0.41);
    }
    88.8888888889% {
      transform: translateX(9vw) translateY(28vh) scale(0.83);
    }
    92.5925925926% {
      transform: translateX(40vw) translateY(-13vh) scale(0.62);
    }
    96.2962962963% {
      transform: translateX(34vw) translateY(-46vh) scale(0.7);
    }
    100% {
      transform: translateX(47vw) translateY(15vh) scale(0.29);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 17s, 7231ms;
    animation-delay: 0ms, 7725ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(10vw) translateY(-46vh) scale(0.82);
    }
    5% {
      transform: translateX(-29vw) translateY(-44vh) scale(0.91);
    }
    10% {
      transform: translateX(30vw) translateY(34vh) scale(0.82);
    }
    15% {
      transform: translateX(32vw) translateY(-15vh) scale(0.82);
    }
    20% {
      transform: translateX(-25vw) translateY(49vh) scale(0.39);
    }
    25% {
      transform: translateX(-26vw) translateY(50vh) scale(0.53);
    }
    30% {
      transform: translateX(50vw) translateY(-43vh) scale(0.74);
    }
    35% {
      transform: translateX(-31vw) translateY(-31vh) scale(0.72);
    }
    40% {
      transform: translateX(27vw) translateY(-44vh) scale(0.38);
    }
    45% {
      transform: translateX(-27vw) translateY(28vh) scale(0.34);
    }
    50% {
      transform: translateX(48vw) translateY(-9vh) scale(0.63);
    }
    55% {
      transform: translateX(-40vw) translateY(8vh) scale(0.42);
    }
    60% {
      transform: translateX(-34vw) translateY(-11vh) scale(0.3);
    }
    65% {
      transform: translateX(4vw) translateY(-26vh) scale(1);
    }
    70% {
      transform: translateX(28vw) translateY(-8vh) scale(0.8);
    }
    75% {
      transform: translateX(-25vw) translateY(1vh) scale(0.69);
    }
    80% {
      transform: translateX(15vw) translateY(-15vh) scale(0.61);
    }
    85% {
      transform: translateX(-32vw) translateY(-24vh) scale(0.64);
    }
    90% {
      transform: translateX(-18vw) translateY(18vh) scale(0.36);
    }
    95% {
      transform: translateX(-39vw) translateY(-21vh) scale(0.87);
    }
    100% {
      transform: translateX(-18vw) translateY(7vh) scale(0.85);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 9s, 8884ms;
    animation-delay: 0ms, 1285ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(-27vw) translateY(-41vh) scale(0.3);
    }
    3.7037037037% {
      transform: translateX(46vw) translateY(23vh) scale(0.52);
    }
    7.4074074074% {
      transform: translateX(1vw) translateY(-47vh) scale(0.82);
    }
    11.1111111111% {
      transform: translateX(-20vw) translateY(38vh) scale(0.84);
    }
    14.8148148148% {
      transform: translateX(-45vw) translateY(42vh) scale(0.48);
    }
    18.5185185185% {
      transform: translateX(-15vw) translateY(-6vh) scale(0.45);
    }
    22.2222222222% {
      transform: translateX(-46vw) translateY(8vh) scale(0.65);
    }
    25.9259259259% {
      transform: translateX(29vw) translateY(-27vh) scale(0.31);
    }
    29.6296296296% {
      transform: translateX(-44vw) translateY(30vh) scale(0.93);
    }
    33.3333333333% {
      transform: translateX(27vw) translateY(-39vh) scale(0.87);
    }
    37.037037037% {
      transform: translateX(38vw) translateY(-24vh) scale(0.29);
    }
    40.7407407407% {
      transform: translateX(-25vw) translateY(10vh) scale(0.62);
    }
    44.4444444444% {
      transform: translateX(29vw) translateY(-27vh) scale(0.33);
    }
    48.1481481481% {
      transform: translateX(-38vw) translateY(-46vh) scale(0.58);
    }
    51.8518518519% {
      transform: translateX(-25vw) translateY(-25vh) scale(0.69);
    }
    55.5555555556% {
      transform: translateX(-21vw) translateY(21vh) scale(0.78);
    }
    59.2592592593% {
      transform: translateX(27vw) translateY(-34vh) scale(0.62);
    }
    62.962962963% {
      transform: translateX(20vw) translateY(-13vh) scale(0.42);
    }
    66.6666666667% {
      transform: translateX(-43vw) translateY(-17vh) scale(0.58);
    }
    70.3703703704% {
      transform: translateX(-36vw) translateY(47vh) scale(0.48);
    }
    74.0740740741% {
      transform: translateX(-46vw) translateY(-44vh) scale(0.28);
    }
    77.7777777778% {
      transform: translateX(13vw) translateY(32vh) scale(0.4);
    }
    81.4814814815% {
      transform: translateX(-15vw) translateY(-8vh) scale(0.52);
    }
    85.1851851852% {
      transform: translateX(47vw) translateY(-9vh) scale(0.84);
    }
    88.8888888889% {
      transform: translateX(-39vw) translateY(48vh) scale(0.83);
    }
    92.5925925926% {
      transform: translateX(-43vw) translateY(22vh) scale(0.34);
    }
    96.2962962963% {
      transform: translateX(-4vw) translateY(-9vh) scale(0.72);
    }
    100% {
      transform: translateX(-5vw) translateY(0vh) scale(0.73);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 13s, 5902ms;
    animation-delay: 0ms, 2925ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(-35vw) translateY(-7vh) scale(0.51);
    }
    4.347826087% {
      transform: translateX(-23vw) translateY(-31vh) scale(0.26);
    }
    8.6956521739% {
      transform: translateX(34vw) translateY(-11vh) scale(0.56);
    }
    13.0434782609% {
      transform: translateX(17vw) translateY(30vh) scale(0.51);
    }
    17.3913043478% {
      transform: translateX(17vw) translateY(10vh) scale(0.56);
    }
    21.7391304348% {
      transform: translateX(29vw) translateY(25vh) scale(0.37);
    }
    26.0869565217% {
      transform: translateX(-24vw) translateY(-41vh) scale(0.7);
    }
    30.4347826087% {
      transform: translateX(28vw) translateY(10vh) scale(0.32);
    }
    34.7826086957% {
      transform: translateX(49vw) translateY(49vh) scale(0.77);
    }
    39.1304347826% {
      transform: translateX(-22vw) translateY(3vh) scale(0.78);
    }
    43.4782608696% {
      transform: translateX(-23vw) translateY(29vh) scale(0.53);
    }
    47.8260869565% {
      transform: translateX(33vw) translateY(-36vh) scale(0.71);
    }
    52.1739130435% {
      transform: translateX(9vw) translateY(-24vh) scale(0.83);
    }
    56.5217391304% {
      transform: translateX(-41vw) translateY(47vh) scale(0.81);
    }
    60.8695652174% {
      transform: translateX(47vw) translateY(2vh) scale(0.48);
    }
    65.2173913043% {
      transform: translateX(-21vw) translateY(-18vh) scale(0.77);
    }
    69.5652173913% {
      transform: translateX(17vw) translateY(2vh) scale(0.34);
    }
    73.9130434783% {
      transform: translateX(24vw) translateY(48vh) scale(0.93);
    }
    78.2608695652% {
      transform: translateX(7vw) translateY(-37vh) scale(0.98);
    }
    82.6086956522% {
      transform: translateX(-5vw) translateY(0vh) scale(0.75);
    }
    86.9565217391% {
      transform: translateX(36vw) translateY(38vh) scale(0.42);
    }
    91.3043478261% {
      transform: translateX(-33vw) translateY(-22vh) scale(0.84);
    }
    95.652173913% {
      transform: translateX(31vw) translateY(-34vh) scale(0.62);
    }
    100% {
      transform: translateX(2vw) translateY(-31vh) scale(0.89);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 14s, 7568ms;
    animation-delay: 0ms, 6770ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(48vw) translateY(-19vh) scale(0.74);
    }
    5.8823529412% {
      transform: translateX(0vw) translateY(14vh) scale(0.64);
    }
    11.7647058824% {
      transform: translateX(42vw) translateY(-33vh) scale(0.4);
    }
    17.6470588235% {
      transform: translateX(-42vw) translateY(45vh) scale(0.41);
    }
    23.5294117647% {
      transform: translateX(-7vw) translateY(-10vh) scale(0.39);
    }
    29.4117647059% {
      transform: translateX(49vw) translateY(38vh) scale(0.61);
    }
    35.2941176471% {
      transform: translateX(-47vw) translateY(46vh) scale(0.76);
    }
    41.1764705882% {
      transform: translateX(16vw) translateY(34vh) scale(0.84);
    }
    47.0588235294% {
      transform: translateX(26vw) translateY(-12vh) scale(0.39);
    }
    52.9411764706% {
      transform: translateX(-37vw) translateY(-48vh) scale(0.56);
    }
    58.8235294118% {
      transform: translateX(-42vw) translateY(11vh) scale(0.89);
    }
    64.7058823529% {
      transform: translateX(32vw) translateY(-49vh) scale(0.26);
    }
    70.5882352941% {
      transform: translateX(42vw) translateY(-12vh) scale(0.7);
    }
    76.4705882353% {
      transform: translateX(1vw) translateY(4vh) scale(0.46);
    }
    82.3529411765% {
      transform: translateX(42vw) translateY(43vh) scale(0.84);
    }
    88.2352941176% {
      transform: translateX(28vw) translateY(-1vh) scale(0.78);
    }
    94.1176470588% {
      transform: translateX(-22vw) translateY(45vh) scale(0.48);
    }
    100% {
      transform: translateX(-15vw) translateY(43vh) scale(0.49);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 12s, 5080ms;
    animation-delay: 0ms, 8003ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(-42vw) translateY(-3vh) scale(0.82);
    }
    4% {
      transform: translateX(39vw) translateY(-13vh) scale(0.94);
    }
    8% {
      transform: translateX(-7vw) translateY(-3vh) scale(0.4);
    }
    12% {
      transform: translateX(-1vw) translateY(26vh) scale(0.44);
    }
    16% {
      transform: translateX(-8vw) translateY(-47vh) scale(0.39);
    }
    20% {
      transform: translateX(31vw) translateY(-23vh) scale(0.57);
    }
    24% {
      transform: translateX(-22vw) translateY(21vh) scale(0.37);
    }
    28% {
      transform: translateX(-38vw) translateY(9vh) scale(0.45);
    }
    32% {
      transform: translateX(-9vw) translateY(32vh) scale(0.42);
    }
    36% {
      transform: translateX(32vw) translateY(18vh) scale(0.95);
    }
    40% {
      transform: translateX(35vw) translateY(-40vh) scale(0.89);
    }
    44% {
      transform: translateX(41vw) translateY(-13vh) scale(0.26);
    }
    48% {
      transform: translateX(23vw) translateY(-10vh) scale(0.53);
    }
    52% {
      transform: translateX(-41vw) translateY(3vh) scale(0.86);
    }
    56% {
      transform: translateX(-15vw) translateY(-42vh) scale(0.74);
    }
    60% {
      transform: translateX(-37vw) translateY(2vh) scale(0.71);
    }
    64% {
      transform: translateX(42vw) translateY(1vh) scale(0.73);
    }
    68% {
      transform: translateX(40vw) translateY(-12vh) scale(0.37);
    }
    72% {
      transform: translateX(25vw) translateY(-45vh) scale(0.75);
    }
    76% {
      transform: translateX(23vw) translateY(46vh) scale(0.55);
    }
    80% {
      transform: translateX(0vw) translateY(10vh) scale(0.57);
    }
    84% {
      transform: translateX(-36vw) translateY(5vh) scale(0.4);
    }
    88% {
      transform: translateX(-9vw) translateY(-49vh) scale(0.63);
    }
    92% {
      transform: translateX(-7vw) translateY(-47vh) scale(0.93);
    }
    96% {
      transform: translateX(-47vw) translateY(-21vh) scale(0.92);
    }
    100% {
      transform: translateX(15vw) translateY(-6vh) scale(0.86);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw white;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw white;
    }
  }